<mat-card>
    <mat-card-header>
    <mat-card-title>Compétences Techniques</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <ul>
    <li>Méthodologies: Kanban, Scrum, TDD</li>
    <li>Langages: C#, TS-SQL, Angular, JavaScript, TypeScript, XML, Ajax</li>
    <li>Bases de données: MSSQL</li>
    <li>Intégration continue: Azure DevOps, Jenkins, Git</li>
    <li>Framework / Librairies: .Net Core, .Net (Webform, ASP.Net, MVC), DevExpress, Telerik</li>
    <li>ORM: Entity Framework</li>
    <li>Services cloud: Azure, Power Apps, Power Automate</li>
    </ul>
    </mat-card-content>
    </mat-card>