
<!--<app-contact></app-contact>
<mat-toolbar color="primary">
  <span>Rodrigue Tchanga - Analyste Programmeur</span>
  </mat-toolbar>
   
  <div class="container">
  <app-header></app-header>
  <app-experience></app-experience>
  <app-education></app-education>
  <app-skills></app-skills>
  </div>-->

  <div class="main">

    <div class="presentation">
        <div class="d-flex" style="background-color: rgb(206, 248, 248);">
      
          <div class="d-flex w-contact-33">
            <div class="d-flex m-auto">
              <mat-icon class="icon-contact">location_on</mat-icon>
              <div class="text-contact">Montréal, Canada</div>  
            </div>
          </div>
    
          <div class="d-flex w-contact-34">
            <div class="d-flex m-auto">
              <mat-icon class="icon-contact">mail</mat-icon>
              <div class="text-contact">tchangarodrigue&#64;yahoo.fr</div>  
            </div>
          </div>
    
            <div class="d-flex w-contact-33">
              <div class="d-flex m-auto">
              <mat-icon class="icon-contact">phone</mat-icon>
              <div class="text-contact">+33 643-969-986</div>  
            </div>
          </div>
          
      </div>
      <mat-card>
        <div style="width: 100%; text-align: center; padding-top: 15px;">
            <h1>Rodrigue TCHANGA</h1>
        </div>
        <div style="width: 100%; text-align: center;">
          Ingénieur études et développement .Net  
        </div>
      </mat-card>
    
    </div>
    <div class="work">
    <div class="left-side">
    
      <mat-card  class="mb-20">
        <mat-card-header>
          <mat-card-title>Expertise technique</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <span matListItemTitle class="matListItemTitle"
                >Technologies Microsoft</span
              >
              <span class="matListItemLine"
                >C#, ASP.NET, WinForm, MVC, DevExpress</span
              >
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle class="matListItemTitle">Services cloud</span>
              <span class="matListItemLine">Azure, Power Apps, Power Automate.</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle class="matListItemTitle"
                >Technologies Front</span
              >
              <span class="matListItemLine"
                >Angular 13, JavaScript, HTML, CSS, XML, Bootstrap.</span
              >
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle class="matListItemTitle"
                >Intégration et déploiement continu</span
              >
              <span class="matListItemLine">Azure Devops, Jenkins.</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    
     
    
    
    
    
      
      
      
      
      
      
    
      <mat-card>
        <mat-card-header>
          <mat-list>
            <mat-list-item>
              <div class="d-flex card-header-text">
                <mat-icon class="icon-display">deblur</mat-icon>
                <div>Formations</div>  
              </div>
            </mat-list-item>
          </mat-list>  
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <span class="matListItemLine"
                > 2016|2017 – Spécialisation en Analyste informaticien – EQL-Montrouge</span>
            </mat-list-item>
            <mat-list-item>
              <span class="matListItemLine">2012|2015 – Diplôme d’ingénieur généraliste – ESIEE Paris</span>
            </mat-list-item>
            <mat-list-item>
              <span class="matListItemLine"
                >2010|2012 – Classe préparatoire – Lycée Jean Moulin</span
              >
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle class="matListItemTitle"
                >Certifications : </span
              >
            </mat-list-item>
          </mat-list>
              <div class="certification">Exam DP-203 Data Engineering (en cours)</div>
              <div class="certification">Exam DP-900 Microsoft Azure Data Fundamentals </div>
              <div class="certification">Exam AZ 204: Developing Solutions for Microsoft Azure –Octobre2021</div>
              <div class="certification">Formation Angular2 à 11 (5 jours) –Octobre 2021 </div>
              <div class="certification">Formation Angular2 à 13 -fonctionnalités avancées (5 jours) –Février 2022</div>
              <div class="certification">Formation SQL Avancé (2 jours) –Septembre 2020</div>
          
        </mat-card-content>
      </mat-card>
    </div>
    <!-------------------------------- début partie droite -------------------------------------------------------------------------------------->
    <div class="right-side">
     
      
      
      <mat-card>
          <mat-card-header>
            <mat-list>
              <mat-list-item>
                <div class="d-flex card-header-text">
                  <mat-icon class="icon-display">work</mat-icon>
                  <div>Expérience professionnelle</div>  
                </div>
              </mat-list-item>
            </mat-list>
          </mat-card-header>
          <mat-card-content>
              <mat-list>
                <div style="justify-content: space-between;display: flex;"> <div>FINELOG-BISEUM</div><div>2021|2022</div></div>
                 
                    <mat-divider></mat-divider>
                  
                  <mat-card-subtitle>Analyste programmeur Fullstack</mat-card-subtitle>
                </mat-list>
                
      Client - ALTAREA : Promoteur immobilier français spécialisé dans le secteur du logement, des bureaux et du commerce. 
      Projet refonte du flux Sage (ERP) et BoFC (Business objects financial consolidation). 
      Intervention au forfait dans une équipe composée de 5 personnes (2 développeurs front dont moi, 1 développeur back de web services, 1 développeur base de données avec Azure Data Factory et 1 Chef de Projet).
      
                Tâches : 
                <ul>
                  <li>Rédiger les spécifications techniques</li>
                  <li>Participer à la mise en place de l&apos;architecture logicielle des nouvelles fonctionnalités</li>
                  <li>Effectuer la conception et le développement de l&apos;application coté front</li>
                  <li>Développer et consommer des fonctions azures coté back (C#)</li>
                  <li>Participer aux Scrum meeting (Agile – Sprint de 1 semaine, lancement, Démo, Retro).</li>
                  <li>Travailler avec l&apos;équipe UX pour évaluer la faisabilité technique et identifier les risques</li>
                  <li>Réalisation des tests unitaires coté front avec Jest en appliquant la la méthode TDD</li>
                  <li>Documentation technique de l&apos;application</li>
                  <li>Améliorer la qualité et les performances de l&apos;application</li>
                  <li>Animer les démonstrations avec le client</li>
                </ul>	
      
          </mat-card-content>
        </mat-card>
      
    </div>
    </div>
    
    </div>    