
    <div style="display: flex; justify-content: space-between;">
    <div>Rodrigue Tchanga</div>
    <div style="display: flex;
    align-items: center;
    background-color: #f9f9f9;">
    
        <div style=" display: flex;
            align-items: center;"><mat-icon aria-hidden="false" fontIcon="location_on" color="primary"></mat-icon> </div> 
        <div style="flex-grow: 1;
            margin-left: 10px;">Montréal</div>
    </div>
    <div><mat-icon aria-hidden="false" fontIcon="mail"></mat-icon> tchangarodrigue&#64;yahoo.fr</div>
    </div>